.controllerBox {
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    height: 280px;
    background-color: #FFF;
    z-index: 9999;
    border: 1px solid #ccc;
    overflow-y: auto;
    font-size: 12px;
}

.controllerBox .linksBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border-bottom: 1px dotted;
}