.muteBox {
    padding: 5px 10px;
}

.muteBox .title {
    color: blue;
}

.muteBox .remark {
    font-size: 12px;
    color: #fc1818;
}

.muteBox label {
    margin-right: 6px;
}

.muteBox label input {
    margin-left: 4px;
}