.playlistBox {
    position: fixed;
    right: 0;
    top: 290px;
    width: 250px;
    height: 450px;
    background-color: #FFF;
    z-index: 9999;
    border: 1px solid #ccc;
    overflow-y: auto;
}

.playlistBox .oneClear {
    width: 100%;
    border: none;
    padding: 6px 0;
    background: linear-gradient(180deg, #4BCE31, #4bccf2);
    height: 50px;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 5px;
}

.playlistBox .playlistItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.playlistBox .playlistItem .child_title {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px;
}

.playlistBox .playlistItem .child_remove {
    color: #FFF;
    background-color: #fd1952;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}