.canPlaylist {
    width: 300px;
    height: 500px;
    position: fixed;
    top: 100px;
    background: rgba(255, 255, 255, 1);
    right: 80px;
    border: 1px solid #c1c1c1;
    overflow-y: auto;
}

.canPlaylist .oneClick {
    margin: 0 auto;
    width: 100%;
    border: none;
    padding: 6px 0;
    background: linear-gradient(180deg, #4BCE31, #4bccf2);
    height: 50px;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 18px;
}

.canPlaylist .item {
    border-bottom: 1px solid #c1c1c1;
    padding: 8px;
    line-height: 150%;
    border-bottom: 1px solid #c1c1c1;
    margin-bottom: 3px;
}

.canPlaylist .item .title {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.canPlaylist .item .status {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #c1c1c1;
}

.canPlaylist .item .addBtn {
    color: #FFF;
    background-color: #4bccf2;
    border: none;
    padding: 5px 10px;
    margin-top: 4px;
}

.canPlaylist .item .addBtn.disable {
    color: #000;
    background-color: #c3c3c3;
}

.configBox {
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    height: 280px;
    background-color: #FFF;
    z-index: 9999;
    border: 1px solid #ccc;
    overflow-y: auto;
}

.configBox > .title {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    /*font-weight: bold;*/
}

.configBox .item {
    border-bottom: 1px dotted #ccc;
    padding: 5px 0;
    font-size: 14px;
}

.configBox .item .title {
    /*border-bottom: 1px dotted #ccc;*/
    padding-bottom: 5px;
    display: inline-block;
    font-weight: bold;
}

.configBox .item .title:after {
    content: ":";
    margin-right: 5px;
}

.configBox .item .remark {
    font-size: 12px;
    color: #c1c1c1;
    /*font-weight: bold;*/
}

.playlistBox {
    position: fixed;
    right: 0;
    top: 290px;
    width: 250px;
    height: 450px;
    background-color: #FFF;
    z-index: 9999;
    border: 1px solid #ccc;
    overflow-y: auto;
}

.playlistBox .oneClear {
    margin: 0 auto;
    width: 100%;
    border: none;
    padding: 6px 0;
    background: linear-gradient(180deg, #4BCE31, #4bccf2);
    height: 50px;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 18px;
}

.playlistBox .title {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    font-weight: bold;
}

.playlistBox .child_title {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playlistBox .child_remove {
    color: #FFF;
    background-color: #fd1952;
    border: none;
    padding: 5px 10px;
    margin: 4px 0 10px 0;
}

.experimentalBox {
    position: fixed;
    right: 255px;
    top: 0;
    width: 250px;
    height: 280px;
    background-color: #FFF;
    z-index: 9999;
    border: 1px solid #ccc;
}

.experimentalBox .tip {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    font-weight: bold;
    color: red;
}

.experimentalBox .item {
    font-size: 14px;
}

.feedbackBox {
    font-size: 14px;
    font-weight: bold;
    background-color: #FFF;
    padding: 4px 7px;
    position: absolute;
    top: 0;
    line-height: 30px;
    z-index: 99999;
    display: flex;
    flex-direction: row;
    left: 30px;
    flex-wrap: wrap;
    width: 226px;
}

/*.feedbackBox .title {*/
/*    font-size: 16px;*/
/*    border-bottom: 1px solid #F00;*/
/*}*/

.feedbackBox .link {
    /*font-size: 18px;*/
    padding: 8px 0 8px 10px;
    /*color: #4bccf2;*/
}

.feedbackBox .notice {
    font-size: 14px;
    color: red;
    border-bottom: 2px dotted #c1c1c1;
}

.feedbackBox .changelog {
    margin: 10px 0;
    border-bottom: 2px dotted #c1c1c1;
}

/*.notice {*/
/*    font-size: 14px;*/
/*    font-weight: bold;*/
/*    color: red;*/
/*    background: #FFF;*/
/*    position: absolute;*/
/*    line-height: 30px;*/
/*    z-index: 99999;*/
/*    left: 30px;*/
/*    bottom: 10px;*/
/*}*/

.configBox label, .experimentalBox label {
    margin-right: 3px;
}

.configBox label input, .experimentalBox label input {
    margin-left: 2px;
}